---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Find my recent work on <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

<!-- List all publications grouped by category if defined, as plain lists -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        <ul>
        {% assign title_shown = true %}
      {% endunless %}
      <li>
        <strong>{{ post.title }}</strong><br/>
        {% if post.authors %}{{ post.authors }}. {% endif %}
        {% if post.venue %}<span>{{ post.venue }}</span>, {% endif %}
        {% if post.date %}<span>{{ post.date | date: "%Y" }}</span>{% endif %}
        {% if post.paperurl %}
          [<a href="{{ post.paperurl }}">Paper</a>]
        {% endif %}
        {% if post.slidesurl %}
          [<a href="{{ post.slidesurl }}">Slides</a>]
        {% endif %}
        {% if post.bibtexurl %}
          [<a href="{{ post.bibtexurl }}">BibTeX</a>]
        {% endif %}
        {% if post.citation %}
          <br/><small>{{ post.citation }}</small>
        {% endif %}
      </li>
      {% assign next_post = false %}
      {% for next_post_loop in site.publications reversed %}
        {% if next_post_loop == post %}
          {% assign next_post = true %}
        {% elsif next_post and next_post_loop.category == category[0] %}
          {% assign has_more = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% unless has_more %}
        </ul>
      {% endunless %}
      {% assign has_more = false %}
    {% endfor %}
  {% endfor %}
{% else %}
  <ul>
  {% for post in site.publications reversed %}
    <li>
      <strong>{{ post.title }}</strong><br/>
      {% if post.authors %}{{ post.authors }}. {% endif %}
      {% if post.venue %}<span>{{ post.venue }}</span>, {% endif %}
      {% if post.date %}<span>{{ post.date | date: "%Y" }}</span>{% endif %}
      {% if post.paperurl %}
        [<a href="{{ post.paperurl }}">Paper</a>]
      {% endif %}
      {% if post.slidesurl %}
        [<a href="{{ post.slidesurl }}">Slides</a>]
      {% endif %}
      {% if post.bibtexurl %}
        [<a href="{{ post.bibtexurl }}">BibTeX</a>]
      {% endif %}
      {% if post.citation %}
        <br/><small>{{ post.citation }}</small>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}
