---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<ul>
{% for post in site.teaching reversed %}
  <li>
    <strong>{{ post.title }}</strong> <small>{% if post.type %}, <em>{{ post.type }}</em>{% endif %}</small><br/>
    {% if post.description %}<div>{{ post.description }}</div>{% endif %}
    <!-- {% if post.type %}<em>{{ post.type }}</em><br/>{% endif %} -->
    {% if post.authors %}{{ post.authors }}. {% endif %}
    {% if post.venue %}<span>{{ post.venue }}</span>, {% endif %}
    {% if post.date %}<span>{{ post.date | date: "%Y" }}</span>{% endif %}
    {% if post.paperurl %}
      [<a href="{{ post.paperurl }}">Paper</a>]
    {% endif %}
    {% if post.slidesurl %}
      [<a href="{{ post.slidesurl }}">Slides</a>]
    {% endif %}
    {% if post.bibtexurl %}
      [<a href="{{ post.bibtexurl }}">BibTeX</a>]
    {% endif %}
    {% if post.citation %}
      <br/><small>{{ post.citation }}</small>
    {% endif %}
  </li>
{% endfor %}
</ul>